CLERK_SECRET_KEY=
MONGO_URI=
NIM_API_KEY=
ASSEMBLYAI_API_KEY=
PUBLIC_BASE_URL=http://localhost:8000
RATE_LIMIT_TTL=60
RATE_LIMIT_LIMIT=120
FFMPEG_BIN=ffmpeg
WHISPER_CPP_BIN=./whisper.cpp/main
WHISPER_MODEL_PATH=./models/ggml-base.en.bin
